.navbar-inverse .navbar-nav > li > a {
color: white;
}

.navbar-inverse{
  background:rgba(90,90,90,0.9);
}

.navbar-inverse .navbar-brand{
  color: white;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.pullUp {
    margin-top: -40px; /* define margin as you see fit */
}

.center{
	text-align: center;
}