  body {
    height: 100%;
    width: 99%;
    background: #001111;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #00FFFF;
  }

  h1 {
    margin: 1em auto;
    color: white;
    text-align:center;
  }

  p {
    text-align: center;
    margin-bottom: 2em;
  }


  table{
    border-spacing: 0.5em;
    text-align: center;
  }

  td, th{
    border-spacing: 0.5em;
    border: 1px solid;
    border-color: #00FFFF;
  }
